@charset "UTF-8";

/* Estilo Paisagem (Landscape) */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(../img/cev-landscape.jpg);
    background-position: left bottom;
}