@charset "UTF-8";

/* Estilo Base para todos (Configurações Gerais) */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 98vh;
    color: white;
    background-color: #233eff;
    background-repeat: no-repeat;
    background-size: contain;
}

h1{
    text-shadow: 2px 2px 3px #14228b;
    margin: 10px;
}
