@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', arial;
    --fonte3: 'Sriracha', arial;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8vw;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section > p{
    padding-bottom: 2em;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: rgb(53, 53, 53);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.555);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.575);
}

section#img01{
    background-image: url(../imagens/background001.jpg);
}

section#img02{
    background-image: url(../imagens/background002.jpg);
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}